#ele1{
    width: 200px;
    height: 200px;
    margin: 100px;
}

#color1{
    width: 200px;
    height: 200px;
    margin: 100px;
    background-color: blue;
}

#color2{
    width: 200px;
    height: 200px;
    margin: 100px;
    background-color: red;
}

#color3{
    width: 200px;
    height: 200px;
    margin: 100px;
    background-color: green;
}

#color4{
    width: 200px;
    height: 200px;
    margin: 100px;
    background-color: yellow;
}

#colorVariado{
    width: 200px;
    height: 200px;
    margin: 100px;
    background-color: purple;
}

